body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #eee;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ddd;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ccc;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.student-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
}

.student-details {
    text-align: left; /* Change text alignment to left */
    margin-left: 10px; /* Add margin to the left */
}

.student-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px; /* Add margin to the left */
}
